name: first-workflow

on:
  workflow_dispatch:

jobs:
  first_job:
    runs-on: ubuntu-latest

    steps:
      - name: Print Helloworld
        run: echo "Helloworld"

      - name: Print goodbye
        run: echo "goodbye"

  

